* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*                                                   Styling for Large Screen Sizes                                           */


body{
    background-color: #fefae0;
}

/* styling for navbar  */
.navbar nav {
    width: 100vw;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: gray 2px 2px 5px;
    /* background: linear-gradient(to bottom, rgb(175, 248, 218) 0%, rgb(130, 190, 162) 50%, rgb(145, 243, 206) 100%); */
}

.logo img {
    height: 85px;
    width: 150px;
    padding: 5px 0;
    margin: 0 15px;
    mix-blend-mode: multiply;
}
#main{
    border-bottom: 5px solid #d4a373;
}
#main main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.profile-pic img {
    height: 300px;
    width: 300px;
    border-radius: 50px;
    border: 5px solid #d4a373;
    margin-bottom: 20px;
    transition: all .4s ease-in-out;
}
.profile-pic img:hover{
    transform: scale(1.1);
}

/* Styling for social icons [instagram,linkedin,facebook,etc]  */
.social-icons ul {
    display: flex;
    gap: 10px;
    justify-content: center;
    font-size: 20px;
}

.social-icons ul li {
    margin: 0 10px;
    border: 2px solid #faedcd;
    cursor: pointer;
    transition: all .4s linear;
    padding: 5px;
    border-radius: 5px;
}

.social-icons ul li:hover {
    border-radius: 50%;
    padding: 5px;
}

.social-icons ul li i {
    font-size: 35px;
}

.social-icons ul li:hover {
    transform: scale(1.2);
}

.info h3 {
    padding: 15px 0;
}

.btn button {
    margin: 30px 0;
    padding: 20px;
    border-radius: 40px;
    font-weight: bold;
    cursor: pointer;
    transition: all .3s ease-in;
    background-color: #fefae0;
    border: 2px solid #ccd5ae;
}

.btn button:hover {
    background-color: #ccd5ae;
    color: aliceblue;
    box-shadow: #ccd5ae 5px 0 5px;
}



/*styling for nav-links [home, about, etc] List  */
.nav-links {
    display: flex;
    gap: 35px;
    list-style: none;
    color: black;
}

.nav-links li {
    padding: 15px;
    transition: all .3s linear;
}

.nav-links li:hover {
    transform: scaleX(1.1);
}

.nav-links li a {
    color: black;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    transition: all .2s ease-in;
}

.nav-links li a:hover {
    transform: scale(1.1);
    border-bottom: 5px solid black;
}



/* styling for about me section  */

#main-content {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 5px solid #d4a373;
}

.information {
    width: 60%;
    padding: 30px;
}

.information h3 {
    padding-bottom: 20px;
}

#content {
    padding-bottom: 20px;
}

#main-content button {
    font-weight: bolder;
    padding: 15px;
    border-radius: 30px;
    transition: all .3s linear;
    border: none;
    background-color: #faedcd;
}

#main-content button:hover {
    background-color: #ccd5ae;
    color: aliceblue;
    box-shadow: #ccd5ae 5px 0 5px;
}

#toggle {
    display: none;
}

.label {
    display: none;
}

.picture img {
    height: 400px;
    width: 350px;
    border-radius: 50px;
    border: 5px solid #d4a373;
    margin: 20px;
    transition: all .4s ease-in;
}
.picture img:hover{
    transform: scale(1.1);
}


/* Styling for Toggle day/night mode  */

input[type="checkbox"] {
    border-radius: 15px;
    position: fixed;
    z-index: 1;
    top: 38px;
    left: 100px;
    cursor:pointer;
}

.toggle {
    width: 100px;
    position: fixed;
    top: 18px;
    margin: 0 30px;
    border: 2px solid #ccd5ae;
    padding: 10px;
    border-radius: 30px;
    display: flex;
}

.day {
    /* border: 2px solid green; */
    border-radius: 20px;
    padding: 0 5px;
}

.night {
    /* border: 2px solid green; */
    border-radius: 20px;
    visibility: hidden;
    font-size: 24px;
    padding: 0 5px;
    filter: invert(1);
}

input[type="checkbox"]:checked~* .night {
    visibility: visible;
    color: white;
}

input[type="checkbox"]:checked~* .day {
    display: none;
}

input[type="checkbox"]:checked~* {
    background-color: #1d1c1c;
    color: white;
}

input[type="checkbox"]:checked~* .nav-links li a {
    color: white;
}

input[type="checkbox"]:checked~* .nav-links li a:hover {
    border-bottom: 5px solid white;
}

input[type="checkbox"]:checked~* .social-icons ul li {
    border: 2px solid white;
}

input[type="checkbox"]:checked~* .social-icons ul li {
    background: #faedcd;
}

input[type="checkbox"]:checked~* .card-container .card1 {
    color: white;
    background-color: #000;
}

input[type="checkbox"]:checked~* .card-container .card2 {
    color: white;
    background-color: #000;
}

input[type="checkbox"]:checked~* .card-container .card3 {
    color: white;
    background-color: #000;
}

input[type="checkbox"]:checked~* .form-container {
    background: black;
}

input[type="checkbox"]:checked~* .form-container input {
    background: black;
}

input[type="checkbox"]:checked~* .form-container textarea {
    background: black;
}

input[type="checkbox"]:checked~* .form-container label {
    color: white;
}
input[type="checkbox"]:checked~* .profile-pic img{
    border: 5px solid white;
}
input[type="checkbox"]:checked~* .picture img{
    border: 5px solid white;
}
input[type="checkbox"]:checked~* .projects{
    box-shadow: none;
}
input[type="checkbox"]:checked~* .soft-skills{
    background-color: black;
}
input[type="checkbox"]:checked~* .skills-list{
    background-color: black;
}


.hamburger-icon {
    display: none;
    border: none;
    background-color: transparent;
}

.hamburger-icon input[type="checkbox"] {
    appearance: none;
}



/* styling for my skills container  */
#container3 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #d4a373;
}

#skills-container {
    text-align: center;
}

#skills-container h1 {
    padding: 20px;
}

.skills {
    display: flex;
    gap: 20px;
}

.skills-list {
    background-color: #e9edc9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 2px solid red; */
    border-radius: 25px;
    height: 60vh;
    width: 45vw;
    padding: 15px;
}

/* styling for linear progress bar  */
.progress {
    width: 100%;
    height: 20px;
    background-color: rgb(209, 206, 206);
    border: 2px solid black;
    border-radius: 20px;
    padding: 1px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
}

.html-bar {
    height: 15px;
    width: 70%;
    background-color: orange;
    border-radius: 20px;
    text-align: center;
    color: black;
    font-weight: bold;
}

.css-bar {
    height: 15px;
    width: 75%;
    background-color: lightblue;
    border-radius: 20px;
    text-align: center;
    color: black;
    font-weight: bold;
}

.js-bar {
    height: 15px;
    width: 40%;
    background-color: yellow;
    border-radius: 20px;
    text-align: center;
    color: black;
    font-weight: bold;
}

.react-bar {
    height: 15px;
    width: 40%;
    background-color: rgb(0, 162, 255);
    border-radius: 20px;
    text-align: center;
    color: black;
    font-weight: bold;
}

.mongo-bar {
    height: 15px;
    width: 30%;
    background-color: green;
    border-radius: 20px;
    text-align: center;
    color: black;
    font-weight: bold;
}


/* styling for circular progress bar  */
.soft-skills {
    background-color: #e9edc9;
    /* border: 2px solid red; */
    border-radius: 25px;
    height: 60vh;
    width: 45vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
}

#container3 h4 {
    margin: 15px;
    width: 68px;
}

.progress-circle1 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: conic-gradient(black 75%, #d9d9d9 0);
    display: flex;
    border: 5px solid #d4a373;
    align-items: center;
    justify-content: center;
    position: relative;
}

.progress-circle2 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: conic-gradient(black 55%, #d9d9d9 0);
    display: flex;
    border: 5px solid #d4a373;
    align-items: center;
    justify-content: center;
    position: relative;
}

.progress-circle3 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: conic-gradient(black 70%, #d9d9d9 0);
    display: flex;
    border: 5px solid #d4a373;
    align-items: center;
    justify-content: center;
    position: relative;
}

.progress-circle4 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: conic-gradient(black 50%, #d9d9d9 0);
    display: flex;
    border: 5px solid #d4a373;
    align-items: center;
    justify-content: center;
    position: relative;
}

.progress-text {
    font-size: 20px;
    color: white;
    font-weight: bolder;
    position: absolute;
}






/* styling for services section  */
#container4 {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #d4a373;
}

.services h1 {
    text-align: center;
    margin: 30px;
    padding: 30px;
}

.card-container {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px;
    border: none;
}
.card-container img{
    width: 300px;
    padding: 10px;
}

.card-container h2 {
    padding: 15px;
}

.card-container p {
    padding: 0 10px;
}

.card-container button{
    margin: 15px 0;
    padding: 15px;
    border-radius: 30px;
    border: none;
    transition: all .3s linear;
    background-color: #ccd5ae;
}
.card-container button:hover {
    background-color: #ccd5ae;
    color: aliceblue;
    box-shadow: #ccd5ae 5px 0 5px;
    cursor: pointer;
}

.card1 {
    border-radius: 30px;
    width: 25vw;
    height: auto;
    transition: all .5s ease-in-out;
    background-color: #faedcd;
    display: flex;
}

.card2 {
    border-radius: 30px;
    width: 25vw;
    height: auto;
    transition: all .5s ease-in-out;
    background-color: #faedcd;
}

.card3 {
    width: 25vw;
    height: auto;
    border-radius: 30px;
    transition: all .3s ease-in-out;
    background-color: #faedcd;
}

.card1:hover {
    border: 2px solid #d4a373;
    box-shadow: #d4a373 2px 2px 5px;
    transform: scale(1.05);
}

.card2:hover {
    border: 2px solid #d4a373;
    box-shadow: #d4a373 2px 2px 5px;
    transform: scale(1.05);
}

.card3:hover {
    border: 2px solid #d4a373;
    box-shadow: #d4a373 2px 2px 5px;
    transform: scale(1.05);
}



/* styling for the projects section  */
#container5 {
    height: 100vh;
}

.center {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 15px 0;
    justify-content: center;
    border-bottom: 5px solid #d4a373;
}

.slider {
    width: 100%;
    height: fit-content;
    padding: 70px 0;
    border: 2pxs solid blue;
    overflow: auto;
}

.cards {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.cards p{
    padding: 10px;
}
.projects {
    width: 300px;
    height: 300px;
    background-color: #e9edc9;
    border-radius: 10px;
    box-shadow: 0 30px 30px #e9edc9;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin: 0 20px;
    padding: 10px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}
.projects:hover{
    transform: scaleY(1.1);
}
.projects .image-box{
    width: 100%;
    height: 100%;
    border-radius: inherit;
}
.projects .image-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 90%;
    transition: all .5s ease-in-out;
    border-radius: 10px;
}

.text-content{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    text-align: center;
    color: white;
    border-radius: 10px;
    transition: all .5s ease-in-out;
}
.projects:hover .text-content{
    opacity: 1;
}













/* styling the scrollbar  */
.slider::-webkit-scrollbar {
    width: 80px;
    height: 15px;
}

.slider::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: #ccd5ae;
    border: 2px solid #ccd5ae;
    border-radius: 10px;
    border: 2px solid black;
}

.slider::-webkit-scrollbar-track {
    border-radius: 10px;
    background: white;
    border: 2px solid black;
    cursor: pointer;
}



/* styling for the contact me section  */
#container6 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-page h1 {
    text-align: center;
    margin: 30px 0;
}

.form-container {
    width: 700px;
    height: 600px;
    margin: auto;
    padding: 20px;
    background-color: #e9edc9;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: inline-block;
}

.form-container input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 25px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #ccd5ae;
}

.form-container button {
    background-color: #d4a373;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.form-container button:hover {
    background-color: #45a049;
}


/* styling for footer section  */
#container7{
    height: auto;
    border-top: 2px solid #d4a373; 
    display: flex;
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
}
.footer{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}
.footer-content{
    width: 100%;
    background-color: #000;
    color: white;
}
#address{
    margin-left: 50px;
}
.footer span{
    padding: 15px 0;
}
.footer span i{
    font-size: 30px;
    margin: 5px 40px;
    cursor: pointer;
    transition: all .4s ease-in-out;
    padding: 5px;
}
.footer span i:hover{
    transform: scale(1.1);
    font-size: 35px;
}
.footer h4{
    text-align: center;
    /* padding-top: 15px; */
}
.footer h5{
    text-align: center;
}










@media(max-width: 1400px) {
    .navbar nav {
        justify-content: space-between;
    }

    .toggle {
        left: 18%;
    }

    input[type="checkbox"] {
        left: 26%;
    }
}

/*                                                   Styling for Medium Screen Sizes                                           */
@media (max-width:1200px) {

    /* styling for the day/night toggle button   */
    .toggle {
        width: 100px;
        position: fixed;
        top: 15px;
        left: 15%;
        margin: 0 30px;
        border: 2px solid #d4a373;
        padding: 10px;
        border-radius: 30px;
        display: flex;
    }

    input[type="checkbox"] {
        border-radius: 15px;
        position: fixed;
        z-index: 1;
        top: 35px;
        left: 24%;
    }

    /* styling for navbar   */
    .navbar nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo img {
        height: 75px;
        width: 100px;
        padding: 5px 0;
    }

    /* Unordered List  */
    .nav-links {
        display: flex;
        gap: 15px;
        list-style: none;
        color: black;
        margin-right: 20px;
    }

    .nav-links li {
        padding: 10px;
    }

    .nav-links li a {
        color: black;
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;
    }

    #main main {
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        /* flex-direction: column; */
    }

    .profile-pic {
        padding: 30px 0;
        margin: 30px 0;
    }

    .social-icons ul li i {
        font-size: 30px;
    }

    .info {
        margin: 0 20px;
    }

    .btn {
        margin: 0 40px;
    }



    /* styling for services section  */
    .card-container{
        flex-wrap: wrap;
        padding: 10px 50px;
    }
    .card-container h2 {
        padding: 10px 0;
    }

    .card-container button {
        margin: 15px 0;
        padding: 15px;
        border-radius: 30px;
    }

    .card1 {
        padding: 15px;
        height: auto;
        width: auto;
    }

    .card2 {
        padding: 15px;
        height: auto;
        width: auto;
    }

    .card3 {
        padding: 15px;
        height: auto;
        width: auto;
    }
}


@media (max-width:900px) {
    input[type="checkbox"] {
        border-radius: 15px;
        position: fixed;
        z-index: 1;
        top: 35px;
        left: 26%;
    }
}
























/*                                                             Styling for Mobile Devices                                              */
@media (max-width:768px) {
    .projects {
        margin: 0 40px;
    }

    /* styling for the day/night toggle button   */
    .toggle {
        width: 100px;
        position: absolute;
        top: 15px;
        margin: 0 30px;
        border: 2px solid #ccd5ae;
        padding: 10px;
        border-radius: 30px;
        display: flex;
        left: 0;
    }

    input[type="checkbox"] {
        border-radius: 15px;
        position: absolute;
        z-index: 1;
        top: 35px;
        left: 100px;
    }


    /* styling for navbar  */
    .navbar nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-items: center;
        background-color: #d4a373;
        position: static;
        width: auto;
    }

    .nav-links li {
        text-align: center;
        list-style: none;
        padding: 10px;
    }

    .nav-links li a {
        text-decoration: none;
        color: black;
        font-size: 20px;
        font-weight: 900;
    }

    .nav-links li a:hover {
        text-decoration: underline;
        text-decoration-thickness: 5px;
        /* color: white; */
    }

    .logo img {
        visibility: hidden;
    }

    .toggle-btn {
        display: flex;
        align-items: center;
        height: auto;
        margin-bottom: 5px;
    }


    /*Styling for Main section starts here  */
    .info {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #main main {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        height: auto;
    }

    #main main h3 {
        margin-top: 50px;
        font-size: 25px;
    }

    #main main h1 {
        font-size: 40px;
    }

    #main main p {
        margin-bottom: 30px;
    }

    #container1 {
        text-align: center;
    }

    .profile-pic {
        padding: 30px 0;
    }

    .profile-pic img {
        height: 250px;
        width: 250px;
        margin-bottom: 15px;
        border-radius: 50px;
        border: 5px solid #d4a373;
    }


    /* Styling for social-icons  */
    .social-icons {
        margin-bottom: 10px;
    }

    .social-icons ul {
        display: flex;
    }

    .social-icons ul li {
        margin: 0 5px;
        border: none;
    }


    .social-icons ul li i {
        font-size: 30px;
        /* padding: 8px; */
        transition: all .3s ease-in-out;
    }

    .social-icons ul li i:hover {
        border-radius: 30px;
        box-shadow: gray 5px 0 10px;
    }

    .btn button {
        margin: 30px 0;
        padding: 20px;
        border-radius: 40px;
        font-size: large;
        font-weight: bold;
        border: none;
        outline: none;
        cursor: pointer;
        transition: all .3s ease-in;
        background-color: #d4a373;
    }

    .btn button:hover {
        box-shadow: gray 5px 0 10px;
    }

    .nav-links {
        height: 0;
        overflow: hidden;
        flex-direction: column;
        align-items: center;
        transition: all 0.5s ease-in-out;
    }

    .logo {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }


    /* Menu icon  */
    .hamburger-icon {
        display: block;
    }


    .fa-x {
        cursor: pointer;
        display: none;
        padding: 10px 20px;
        font-size: 30px;
    }

    .fa-bars {
        cursor: pointer;
        padding: 10px 20px;
        color: black;
        font-size: 30px;
    }

    .navbar nav:has(.hamburger-icon input[type="checkbox"]:checked) .nav-links {
        margin-top: 1rem;
        height: 45vh;
    }

    .navbar nav:has(.hamburger-icon input[type="checkbox"]:checked) .fa-bars {
        display: none;
    }

    .navbar nav:has(.hamburger-icon input[type="checkbox"]:checked) .fa-x {
        display: inline-block;
    }


    /* styling for container2 About me  */
    #main-content {
        height: 100vh;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .information {
        padding: 20px;
    }

    .information h1 {
        margin-top: 20px;
    }

    .information h1 span {
        color: #d4a373;
    }

    .information h3 {
        margin-bottom: 20px;
    }

    .para {
        display: none;
        padding: 5px 0;
        font-weight: bolder;
    }

    .picture img {
        height: 250px;
        width: 250px;
        border-radius: 50px;
        border: 5px solid #d4a373;
        margin-bottom: 20px;
    }

    #content {
        font-weight: bolder;
        margin-top: 10px;
        display: none;
    }

    #read-more {
        padding: 10px;
        border-radius: 50px;
        font-size: larger;
        font-weight: bolder;
        transition: all .3s linear;
        margin-top: 10px;
    }

    #toggle:checked~#content {
        display: block;
    }

    #toggle {
        display: none;
    }

    .label {
        margin-top: 20px;
        cursor: pointer;
        padding: 10px 20px;
        font-weight: bolder;
        background-color: #d4a373;
        color: black;
        border: none;
        border-radius: 25px;
        display: inline-block;
        text-align: center;
    }

    #main-content button {
        display: none;
    }

    .information {
        width: auto;
        padding: 30px;
    }








    /* Styling for container3 Skills section  */
    #container3 {
        height: 100vh;
        display: flex;
        justify-content: center;
    }

    #skills-container {
        text-align: center;
    }

    #skills-container h1 {
        padding: 20px;
    }

    .skills {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .skills-list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 45vh;
        width: 75vw;
        padding: 15px;
    }


    /* styling for linear progress bar  */
    .progress {
        width: 100%;
        height: 20px;
        background-color: rgb(209, 206, 206);
        border: 2px solid black;
        border-radius: 20px;
        padding: 1px;
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
        margin-bottom: 15px;
    }

    .html-bar {
        height: 15px;
        width: 70%;
        background-color: orange;
        border-radius: 20px;
        text-align: center;
        color: black;
        font-weight: bold;
    }

    .css-bar {
        height: 15px;
        width: 75%;
        background-color: lightblue;
        border-radius: 20px;
        text-align: center;
        color: black;
        font-weight: bold;
    }

    .js-bar {
        height: 15px;
        width: 40%;
        background-color: yellow;
        border-radius: 20px;
        text-align: center;
        color: black;
        font-weight: bold;
    }

    .react-bar {
        height: 15px;
        width: 40%;
        background-color: rgb(0, 162, 255);
        border-radius: 20px;
        text-align: center;
        color: black;
        font-weight: bold;
    }

    .mongo-bar {
        height: 15px;
        width: 30%;
        background-color: green;
        border-radius: 20px;
        text-align: center;
        color: black;
        font-weight: bold;
    }

    #container3 h4 {
        margin: 15px;
        width: 68px;
        font-size: 12px;
    }


    /* styling for circular progress bar  */
    .soft-skills {
        height: 40vh;
        width: 75vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
    }

    .soft-skills h4:nth-of-type(odd) {

        margin-bottom: 15px;
    }

    .progress-circle1 {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: conic-gradient(black 75%, #d9d9d9 0);
        display: flex;
        border: 5px solid rgb(8, 245, 20);
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .progress-circle2 {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: conic-gradient(black 55%, #d9d9d9 0);
        display: flex;
        border: 5px solid rgb(8, 245, 20);
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .progress-circle3 {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: conic-gradient(black 70%, #d9d9d9 0);
        display: flex;
        border: 5px solid rgb(8, 245, 20);
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .progress-circle4 {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: conic-gradient(black 50%, #d9d9d9 0);
        display: flex;
        border: 5px solid rgb(8, 245, 20);
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .progress-text {
        font-size: 20px;
        color: white;
        font-weight: bolder;
        position: absolute;
    }



    /* styling for services section  */
    #container4 {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 35px;
    }

    .services h1 {
        font-size: 25px;
        text-align: center;
        margin: 30px;
        padding: 30px;
    }

    .card-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        padding: 20px;
    }

    .card-container h2 {
        margin: 15px 0;
    }

    .card-container button {
        margin: 15px 0;
        padding: 10px;
        border-radius: 20px;
    }

    .card1 {
        width: 75vw;
        height: auto;
        background-color: #faedcd;
        padding: 10px;
    }

    .card2 {
        width: 75vw;
        height: auto;
        background-color: #faedcd;
        padding: 10px;
    }

    .card3 {
        width: 75vw;
        height: auto;
        background-color: #faedcd;
        padding: 10px;
    }

    .form-container {
        width: 370px;
        height: 565px;
        margin: auto;
        padding: 20px;
        border: 1px solid #e9edc9;
        border-radius: 8px;
        background-color: #e9edc9;
    }
}


/*                                                             Styling for small Devices                                              */

@media(max-width: 650px){
    .footer{
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 10px;
    }
    .footer span{
        text-align: center;
    }
    .footer h5{
        text-align: center;
        margin-bottom: 15px;
    }
    .footer span i {
        font-size: 30px;
        cursor: pointer;
        margin: 0;
    }
    #address{
        margin: 0;
    }
}




/*                                                             Styling for Extra small Devices                                              */
@media (max-width: 420px) {
    .profile-pic {
        padding: 0;
    }

    .profile-pic img {
        height: 200px;
        width: 200px;
        margin-bottom: 15px;
        border-radius: 50px;
        border: 5px solid #d4a373;
    }

    .social-icons ul li {
        border: 2px solid #fefae0;
    }

    .social-icons ul li i {
        font-size: 25px;
        padding: 5px;
        transition: all .3s ease-in-out;
    }

    #main main h3 {
        margin-top: 50px;
        font-size: 20px;
    }

    #main main h1 {
        margin-top: 20px;
        font-size: 30px;
    }

    #main-content {
        height: auto;
    }

    .progress-circle1,
    .progress-circle2,
    .progress-circle3,
    .progress-circle4 {
        width: 85px;
        height: 85px;
    }

    #container3 h4 {
        margin: 5px;
        width: auto;
    }

    .services h1 {
        font-size: 25px;
        padding: 0;
    }

    .card-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        /* padding: 0; */
    }

    .card-container img{
        width: 250px;
    }
    /* .card1,
    .card2,
    .card3 {
        width: 75vw;
    } */

    .form-container {
        width: 260px;
        height: 565px;
        margin: auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
        background-color: #e9edc9;
    }
}

@media (max-width: 360px){
    .card-container img{
        width: 200px;
    }
}